In [1]:
import pyspark

In [10]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [11]:
spark = SparkSession.builder.appName("test").getOrCreate()

In [12]:
data = [("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)]

In [13]:
schema = ["employee_name","department","salary"]

In [14]:
df = spark.createDataFrame(data=data,schema=schema)

In [15]:
df.show(1)

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        James|     Sales|  3000|
+-------------+----------+------+
only showing top 1 row

In [17]:
df.select(approx_count_distinct("salary")).show()

24/06/20 15:36:43 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-----------------------------+
|approx_count_distinct(salary)|
+-----------------------------+
|                            6|
+-----------------------------+

In [18]:
df.select(avg("salary")).show()

+-----------+
|avg(salary)|
+-----------+
|     3400.0|
+-----------+

In [19]:
df.select(collect_list("salary")).show()

+--------------------+
|collect_list(salary)|
+--------------------+
|[3000, 4600, 4100...|
+--------------------+

In [23]:
df.select(collect_set("salary")).show()

+--------------------+
| collect_set(salary)|
+--------------------+
|[4600, 3000, 3900...|
+--------------------+

In [24]:
df.select(count("salary")).show()

+-------------+
|count(salary)|
+-------------+
|           10|
+-------------+

In [25]:
df.select(first("salary")).show()

+-------------+
|first(salary)|
+-------------+
|         3000|
+-------------+

In [26]:
df.select(last("salary")).show()

+------------+
|last(salary)|
+------------+
|        4100|
+------------+

In [29]:
df.select(avg("salary")).show()

+-----------+
|avg(salary)|
+-----------+
|     3400.0|
+-----------+