In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
from pyspark.sql.functions import *

In [4]:
spark = SparkSession.builder.appName("test").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/20 16:00:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/06/20 16:00:53 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/06/20 16:01:06 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [5]:
simpleData = [("James","Sales","NY",90000,34,10000),
    ("Michael","Sales","NY",86000,56,20000),
    ("Robert","Sales","CA",81000,30,23000),
    ("Maria","Finance","CA",90000,24,23000),
    ("Raman","Finance","CA",99000,40,24000),
    ("Scott","Finance","NY",83000,36,19000),
    ("Jen","Finance","NY",79000,53,15000),
    ("Jeff","Marketing","CA",80000,25,18000),
    ("Kumar","Marketing","NY",91000,50,21000)
  ]
schema = ["employee_name","department","state","salary","age","bonus"]

In [6]:
df = spark.createDataFrame(data=simpleData,schema=schema)

In [7]:
df.show(2)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
+-------------+----------+-----+------+---+-----+
only showing top 2 rows

In [9]:
df.groupBy("department").agg(sum("salary").alias("total_salary"),avg("salary").alias("average_salary")).show()

+----------+------------+-----------------+
|department|total_salary|   average_salary|
+----------+------------+-----------------+
|     Sales|      257000|85666.66666666667|
|   Finance|      351000|          87750.0|
| Marketing|      171000|          85500.0|
+----------+------------+-----------------+

In [10]:
df.groupBy("state").agg(sum("salary").alias("total_salary"),avg("salary").alias("average_salary")).show()

+-----+------------+--------------+
|state|total_salary|average_salary|
+-----+------------+--------------+
|   NY|      429000|       85800.0|
|   CA|      350000|       87500.0|
+-----+------------+--------------+

In [11]:
df.groupBy("department").agg(count("*").alias("count")).show()

+----------+-----+
|department|count|
+----------+-----+
|     Sales|    3|
|   Finance|    4|
| Marketing|    2|
+----------+-----+

In [21]:
result_df = df.groupBy("department").agg(sum("salary").alias("total_salary"),avg("salary").alias("avearge_salary"),sum("bonus").alias("total_bonus"),
                                         
                                         avg("bonus").alias("avg_bonus")).where(col("avg_bonus")>=5000)

In [22]:
result_df.show()

+----------+------------+-----------------+-----------+------------------+
|department|total_salary|   avearge_salary|total_bonus|         avg_bonus|
+----------+------------+-----------------+-----------+------------------+
|     Sales|      257000|85666.66666666667|      53000|17666.666666666668|
|   Finance|      351000|          87750.0|      81000|           20250.0|
| Marketing|      171000|          85500.0|      39000|           19500.0|
+----------+------------+-----------------+-----------+------------------+

In [23]:
df.createOrReplaceTempView("emp")

In [25]:
spark.sql(""" 
select department,sum(salary) as total_salary,avg(salary) as average_salary
from emp
group by department
having average_salary >=5000
""").show()

+----------+------------+-----------------+
|department|total_salary|   average_salary|
+----------+------------+-----------------+
|     Sales|      257000|85666.66666666667|
|   Finance|      351000|          87750.0|
| Marketing|      171000|          85500.0|
+----------+------------+-----------------+