In [1]:
import pyspark

In [7]:
from pyspark.sql import SparkSession

In [8]:
from pyspark.sql.types import *

In [9]:
from pyspark.sql.functions import *

In [14]:
schema = StructType([StructField("emp_id",IntegerType(),True),StructField("name",StringType(),True),StructField("city",StringType(),True),StructField("Country",StringType(),True),StructField("contact_no",IntegerType(),True)])

In [15]:
data = [(1000,"Michael","Columbus","USA",345678)]

In [16]:
spark = SparkSession.builder.appName("test").getOrCreate()

In [17]:
df = spark.createDataFrame(data=data,schema=schema)

In [19]:
df.show(2)

+------+-------+--------+-------+----------+
|emp_id|   name|    city|Country|contact_no|
+------+-------+--------+-------+----------+
|  1000|Michael|Columbus|    USA|    345678|
+------+-------+--------+-------+----------+

In [20]:
# no of records per partitions

In [39]:
df = spark.read.format("csv").option("inferSchema",True).option("header",True).load("students.csv")

In [40]:
print(df.count())

100

In [41]:
# default partition Count

In [42]:
print(df.rdd.getNumPartitions())

1

In [43]:
# No of Records per Partition

In [44]:
from pyspark.sql.functions import spark_partition_id

In [45]:
df.withColumn("partitionId",spark_partition_id()).groupBy("partitionId").count().show()

+-----------+-----+
|partitionId|count|
+-----------+-----+
|          0|  100|
+-----------+-----+

In [46]:
df.show(1)

+---+---------+--------+-------+--------------------+
|seq|timestamp|   first| amount|         description|
+---+---------+--------+-------+--------------------+
|  1|858334225|Mathilda|5904.67|No jonpi rivaniba...|
+---+---------+--------+-------+--------------------+
only showing top 1 row

In [47]:
# repartition the dataframe to 5

In [50]:
df_5 = df.select(col("first"),col("amount"),col("description")).repartition(5)

In [51]:
print(df_5.rdd.getNumPartitions())

5

In [52]:
df_5.withColumn("partitionId",spark_partition_id()).groupBy("partitionId").count().show()

+-----------+-----+
|partitionId|count|
+-----------+-----+
|          0|   20|
|          1|   20|
|          2|   20|
|          3|   20|
|          4|   20|
+-----------+-----+