In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
from pyspark.sql.types import StructType,StringType,IntegerType,StructField

In [4]:
spark = SparkSession.builder.appName("test").getOrCreate()

In [5]:
schema = StructType([StructField("ORIGIN_COUNTRY_NAME",StringType(),True),StructField("DEST_COUNTRY_NAME",StringType(),True),StructField("count",IntegerType(),True)])

In [6]:
df = spark.read.format("json").schema(schema).load("2010-summary.json")

In [8]:
df.show()

+-------------------+--------------------+-----+
|ORIGIN_COUNTRY_NAME|   DEST_COUNTRY_NAME|count|
+-------------------+--------------------+-----+
|            Romania|       United States|    1|
|            Ireland|       United States|  264|
|              India|       United States|   69|
|      United States|               Egypt|   24|
|      United States|   Equatorial Guinea|    1|
|          Singapore|       United States|   25|
|            Grenada|       United States|   54|
|      United States|          Costa Rica|  477|
|      United States|             Senegal|   29|
|   Marshall Islands|       United States|   44|
|      United States|              Guyana|   17|
|       Sint Maarten|       United States|   53|
|      United States|               Malta|    1|
|      United States|             Bolivia|   46|
|      United States|            Anguilla|   21|
|      United States|Turks and Caicos ...|  136|
|        Afghanistan|       United States|    2|
|      United States|Saint Vincent and...|    1|
|      United States|               Italy|  390|
|             Russia|       United States|  156|
+-------------------+--------------------+-----+
only showing top 20 rows

In [29]:
df.count()

255

In [15]:
df.selectExpr("ORIGIN_COUNTRY_NAME as origin").show(2)

+-------+
| origin|
+-------+
|Romania|
|Ireland|
+-------+
only showing top 2 rows

In [33]:
distinct_df = df.dropDuplicates(["ORIGIN_COUNTRY_NAME","DEST_COUNTRY_NAME","count"])

In [34]:
distinct_df.show(truncate=False)

+-------------------+--------------------+-----+
|ORIGIN_COUNTRY_NAME|DEST_COUNTRY_NAME   |count|
+-------------------+--------------------+-----+
|Costa Rica         |United States       |501  |
|Egypt              |United States       |25   |
|Ukraine            |United States       |17   |
|United States      |Argentina           |184  |
|Estonia            |United States       |1    |
|United States      |Bulgaria            |1    |
|Sint Maarten       |United States       |53   |
|United States      |Mexico              |6200 |
|Thailand           |United States       |13   |
|Papua New Guinea   |United States       |1    |
|Cayman Islands     |United States       |251  |
|United States      |United Arab Emirates|165  |
|Argentina          |United States       |159  |
|United States      |Greece              |50   |
|Anguilla           |United States       |20   |
|Samoa              |United States       |28   |
|Angola             |United States       |18   |
|Belgium            |United States       |355  |
|United States      |Austria             |36   |
|Honduras           |United States       |393  |
+-------------------+--------------------+-----+
only showing top 20 rows

In [35]:
drop_df = df.distinct()

In [36]:
drop_df.show()

+-------------------+--------------------+-----+
|ORIGIN_COUNTRY_NAME|   DEST_COUNTRY_NAME|count|
+-------------------+--------------------+-----+
|         Costa Rica|       United States|  501|
|              Egypt|       United States|   25|
|            Ukraine|       United States|   17|
|      United States|           Argentina|  184|
|            Estonia|       United States|    1|
|      United States|            Bulgaria|    1|
|       Sint Maarten|       United States|   53|
|      United States|              Mexico| 6200|
|           Thailand|       United States|   13|
|   Papua New Guinea|       United States|    1|
|     Cayman Islands|       United States|  251|
|      United States|United Arab Emirates|  165|
|          Argentina|       United States|  159|
|      United States|              Greece|   50|
|           Anguilla|       United States|   20|
|              Samoa|       United States|   28|
|             Angola|       United States|   18|
|            Belgium|       United States|  355|
|      United States|             Austria|   36|
|           Honduras|       United States|  393|
+-------------------+--------------------+-----+
only showing top 20 rows

In [37]:
select_distinct = df.select("ORIGIN_COUNTRY_NAME","DEST_COUNTRY_NAME").distinct()

In [38]:
select_distinct.show()

+-------------------+--------------------+
|ORIGIN_COUNTRY_NAME|   DEST_COUNTRY_NAME|
+-------------------+--------------------+
|            Romania|       United States|
|            Ireland|       United States|
|              India|       United States|
|      United States|               Egypt|
|      United States|   Equatorial Guinea|
|          Singapore|       United States|
|            Grenada|       United States|
|      United States|          Costa Rica|
|      United States|             Senegal|
|   Marshall Islands|       United States|
|      United States|              Guyana|
|       Sint Maarten|       United States|
|      United States|               Malta|
|      United States|             Bolivia|
|      United States|            Anguilla|
|      United States|Turks and Caicos ...|
|        Afghanistan|       United States|
|      United States|Saint Vincent and...|
|      United States|               Italy|
|             Russia|       United States|
+-------------------+--------------------+
only showing top 20 rows