In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [24]:
spark = SparkSession.builder.appName("test").master("local[4]").config("spark.sql.adaptive.enabled",True).getOrCreate()

In [25]:
data = [("James","Sales","NY",90000,34,10000), 
        ("Michael","Sales","NY",86000,56,20000),
    ("Robert","Sales","CA",81000,30,23000),
    ("Maria","Finance","CA",90000,24,23000),
    ("Raman","Finance","CA",99000,40,24000),
    ("Scott","Finance","NY",83000,36,19000),
    ("Jen","Finance","NY",79000,53,15000),
    ("Jeff","Marketing","CA",80000,25,18000),
    ("Kumar","Marketing","NY",91000,50,21000)]

In [26]:
schema = ["employee_name","department","state","salary","age","bonus"]

In [27]:
df = spark.createDataFrame(data=data,schema=schema)

In [28]:
df.show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [29]:
res_df = df.groupBy("department").count()

In [30]:
res_df.rdd.getNumPartitions()

1

In [32]:
spark.conf.set("spark.sql.adaptive.enabled",True)

In [33]:
df2 = df.groupBy("department").count()

In [34]:
df2.rdd.getNumPartitions()

1