In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("Caching-performance").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/17 11:41:23 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/06/17 11:41:24 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/06/17 11:41:36 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [9]:
empDF = spark.read.format("csv").option("inferSchema",True).option("header",True).load("employees.csv")

In [12]:
deptDF = spark.read.format("csv").option("inferSchema",True).option("header",True).load("departments.csv")

In [13]:
empDF.printSchema()
deptDF.printSchema()

root
 |-- EMPLOYEE_ID: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- EMAIL: string (nullable = true)
 |-- PHONE_NUMBER: string (nullable = true)
 |-- HIRE_DATE: string (nullable = true)
 |-- JOB_ID: string (nullable = true)
 |-- SALARY: integer (nullable = true)
 |-- COMMISSION_PCT: string (nullable = true)
 |-- MANAGER_ID: string (nullable = true)
 |-- DEPARTMENT_ID: integer (nullable = true)

root
 |-- DEPARTMENT_ID: integer (nullable = true)
 |-- DEPARTMENT_NAME: string (nullable = true)
 |-- MANAGER_ID: string (nullable = true)
 |-- LOCATION_ID: integer (nullable = true)

In [14]:
empDF.createOrReplaceTempView("emptbl")

In [15]:
deptDF.createOrReplaceTempView("deptbl")

In [24]:
spark.catalog.uncacheTable("emptbl_cache")

In [26]:
spark.sql(""" cache table emptbl_cached as select * from emptbl """).show()

++
||
++
++

In [28]:
deptDF.show()

+-------------+--------------------+----------+-----------+
|DEPARTMENT_ID|     DEPARTMENT_NAME|MANAGER_ID|LOCATION_ID|
+-------------+--------------------+----------+-----------+
|           10|      Administration|       200|       1700|
|           20|           Marketing|       201|       1800|
|           30|          Purchasing|       114|       1700|
|           40|     Human Resources|       203|       2400|
|           50|            Shipping|       121|       1500|
|           60|                  IT|       103|       1400|
|           70|    Public Relations|       204|       2700|
|           80|               Sales|       145|       2500|
|           90|           Executive|       100|       1700|
|          100|             Finance|       108|       1700|
|          110|          Accounting|       205|       1700|
|          120|            Treasury|        - |       1700|
|          130|       Corporate Tax|        - |       1700|
|          140|  Control And Credit|        - |       1700|
|          150|Shareholder Services|        - |       1700|
|          160|            Benefits|        - |       1700|
|          170|       Manufacturing|        - |       1700|
|          180|        Construction|        - |       1700|
|          190|         Contracting|        - |       1700|
|          200|          Operations|        - |       1700|
+-------------+--------------------+----------+-----------+
only showing top 20 rows

In [29]:
cache_data = spark.sql(""" select first_name,email,salary from emptbl_cached e left join deptbl d on (d.department_id = e.department_id) """)

In [30]:
cache_data.show()

+----------+--------+------+
|first_name|   email|salary|
+----------+--------+------+
|    Donald|DOCONNEL|  2600|
|   Douglas|  DGRANT|  2600|
|  Jennifer| JWHALEN|  4400|
|   Michael|MHARTSTE| 13000|
|       Pat|    PFAY|  6000|
|     Susan| SMAVRIS|  6500|
|   Hermann|   HBAER| 10000|
|   Shelley|SHIGGINS| 12008|
|   William|  WGIETZ|  8300|
|    Steven|   SKING| 24000|
|     Neena|NKOCHHAR| 17000|
|       Lex| LDEHAAN| 17000|
| Alexander| AHUNOLD|  9000|
|     Bruce|  BERNST|  6000|
|     David| DAUSTIN|  4800|
|     Valli|VPATABAL|  4800|
|     Diana|DLORENTZ|  4200|
|     Nancy|NGREENBE| 12008|
|    Daniel| DFAVIET|  9000|
|      John|   JCHEN|  8200|
+----------+--------+------+
only showing top 20 rows