In [42]:
import pyspark

In [83]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField,IntegerType,StringType
from pyspark.sql.functions import *

In [61]:
spark = SparkSession.builder.appName("test").getOrCreate()

In [72]:
data = [(1,"Smith",-1,"2018",10,"M",3000), \
    (2,"Rose",1,"2010",20,"M",4000), \
    (3,"Williams",1,"2010",10,"M",1000), \
    (4,"Jones",2,"2005",10,"F",2000), \
    (5,"Brown",2,"2010",40,"",-1), \
      (6,"Brown",2,"2010",50,"",-1) \
  ]

In [73]:
columns = ["emp_id","name","superior_emp_id","year_joined","emp_dept_id","gender","salary"]

In [74]:
columns = StructType([StructField("emp_id",IntegerType(),True),StructField("name",StringType(),True),StructField("superior_emp_id",IntegerType(),True),
                      StructField("year_joined",StringType(),True),StructField("emp_dept_id",IntegerType(),True),
                      StructField("gender",StringType()), StructField("salary",IntegerType(),True)])

In [75]:
empdf = spark.createDataFrame(data=data,schema=columns)

In [76]:
empdf.printSchema()

root
 |-- emp_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- superior_emp_id: integer (nullable = true)
 |-- year_joined: string (nullable = true)
 |-- emp_dept_id: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

In [49]:
dept = [("Finance",10), \
    ("Marketing",20), \
    ("Sales",30), \
    ("IT",40) \
  ]

In [50]:
dept_cols = ["dept_name","dept_id"]

In [77]:
dept_cols = StructType([StructField("dept_name",StringType(),True),StructField("dept_id",IntegerType(),True)])

In [78]:
deptdf = spark.createDataFrame(data=dept,schema=dept_cols)

In [80]:
deptdf.printSchema()

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: integer (nullable = true)

In [16]:
test = empdf.join(deptdf,empdf.emp_dept_id == deptdf.dept_id ,"inner")

In [18]:
test.show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [26]:
empdf.join(deptdf,empdf.emp_dept_id == deptdf.dept_id ,"outer").show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|  NULL|    NULL|           NULL|       NULL|       NULL|  NULL|  NULL|    Sales|     30|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
|     6|   Brown|              2|       2010|         50|      |    -1|     NULL|   NULL|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [28]:
empdf.join(deptdf,empdf.emp_dept_id == deptdf.dept_id,"leftanti").show()

+------+-----+---------------+-----------+-----------+------+------+
|emp_id| name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+-----+---------------+-----------+-----------+------+------+
|     6|Brown|              2|       2010|         50|      |    -1|
+------+-----+---------------+-----------+-----------+------+------+

In [29]:
empdf.join(deptdf,empdf.emp_dept_id == deptdf.dept_id , "leftsemi").show()

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|
|     3|Williams|              1|       2010|         10|     M|  1000|
|     4|   Jones|              2|       2005|         10|     F|  2000|
|     2|    Rose|              1|       2010|         20|     M|  4000|
|     5|   Brown|              2|       2010|         40|      |    -1|
+------+--------+---------------+-----------+-----------+------+------+

In [30]:
empdf.join(deptdf,empdf.emp_dept_id == deptdf.dept_id , "full").show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|  NULL|    NULL|           NULL|       NULL|       NULL|  NULL|  NULL|    Sales|     30|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
|     6|   Brown|              2|       2010|         50|      |    -1|     NULL|   NULL|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [54]:
empdf.createOrReplaceTempView("employee")

In [56]:
spark.sql(""" select e.name, avg(salary) as total_sal from employee e group by e.name """).show()

+--------+---------+
|    name|total_sal|
+--------+---------+
|   Smith|   3000.0|
|    Rose|   4000.0|
|Williams|   1000.0|
|   Jones|   2000.0|
|   Brown|     -1.0|
+--------+---------+

In [84]:
empdf.groupBy("name").agg(sum("salary").alias("total_salary")).show()

+--------+------------+
|    name|total_salary|
+--------+------------+
|   Smith|        3000|
|    Rose|        4000|
|Williams|        1000|
|   Jones|        2000|
|   Brown|          -2|
+--------+------------+